<div class="gs-wrapper">
  <div class="gs-wrapper__inner first">
    <h4 class="start">WE ARE THE GOOD SIDE</h4>
    <h2 class="blue bill" >
      {% assign aboutPage = site.pages %}
      {% for page in aboutPage %}
        {% if page.title == "About" %}
          {{page.['About sentence 1']}} {{page.['About sentence 2']}} {{page.['About sentence 3']}}
        {% endif %}
      {% endfor %}
    </h2>
  </div>
</div>
<div class="page-content green">
  <div class="gs-wrapper">
    <div class="gs-wrapper__inner">
      <h4 class="padd">How we work</h4>
      <ul>
        {% assign aboutPage = site.pages %}
        {% for page in aboutPage %}
          {% if page.title == "About" %}
            {% assign manifesto = page.Manifesto %}
            {% for item in manifesto %}
              <li>
                <img src="{{item.Image}}">
                <h3>{{item.Title}}</h3>
                <p>{{item.Text}}</p>
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="gs-wrapper">
    <div class="gs-wrapper__inner">
      <h4 class="padd client-title">Who we work with</h4>
      <ul class="gs-client-list">
        {% assign aboutPage = site.pages %}
        {% for page in aboutPage %}
          {% if page.title == "About" %}
            {% assign clients = page.Clients %}
            {% for item in clients %}
            <li>
              <img src="{{item.Logo}}">
            </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="gs-wrapper flexible">
    <div class="gs-wrapper__inner flexible gs-team">
      <h4 class="">WE ARE THE GOOD SIDE</h4>
      <ul>
        {% assign aboutPage = site.pages %}
        {% for page in aboutPage %}
          {% if page.title == "About" %}
            {% assign team = page.Team %}
            {% for item in team %}
            <li>
              <div class="cirlce">
                {% if item.['Gif image'] %}
                  <img class="gif-hover" src="{{item.['Gif image']}}">
                {% endif %}
                <img src="{{item.Image}}">
              </div>
              <div class="circle-question">
                <p>{{item.Question}}</p>
              </div>
              <h2>{{item.Name}}</h2>
              <h2>{{item.Role}}</h2>
            </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="gs-section-footer">
  <p class="blue"><a href="#about">Read more about The Good Side</a></p>
</div>
