<div class="gs-wrapper">
  <div class="gs-wrapper__inner">
    <h2>
      We help <img class="about-image" src="assets/line_sun.png"> people to understand and impact systems, society and culture. Our team blends anthropological <img class="about-image" src="assets/circles.png"> thinking, communications expertise and media <img class="about-image" src="assets/door.png"> production. We work with organisations <img class="about-image" src="assets/pyramid.png"> from global tech giants to one woman NGOs, from international brands to social enterprises.
    </h2>
  </div>
</div>
