<div class="gs-wrapper">
  <div class="gs-wrapper__inner">
    <h2>
      We help <img class="about-image" src="assets/line_sun.png"> people to understand and impact systems, society and culture. Our team blends anthropological <img class="about-image" src="assets/circles.png"> thinking, communications expertise and media <img class="about-image" src="assets/door.png"> production. We work with organisations <img class="about-image" src="assets/pyramid.png"> from global tech giants to one woman NGOs, from international brands to social enterprises.
    </h2>
  </div>
</div>
<div class="page-content green">
  <div class="gs-wrapper">
    <div class="gs-wrapper__inner">
      <ul>
        <li>
          <h3>GO WHERE THE ACTION IS</h3>
          <p>We go where people are, immersing ourselves in their lives. Learning by doing.</p>
        </li>
        <li>
          <h3>EXplore the margins</h3>
          <p>We look at the nascent shoots of emergent thinking and behaviour. Exploring where culture changes,</p>
        </li>
        <li>
          <h3>BRING IT TO LIFE</h3>
          <p>We go where people are, immersing ourselves in their lives. Learning by doing.</p>
        </li>
        <li>
          <h3>DISTILL COMPLEX IDEAS </h3>
          <p>We deconstruct complex questions by looking at all the angles to discover and tell the simple story within it.</p>
        </li>
        <li>
          <h3>CREATE WAYS TO CHANGE</h3>
          <p>We understand the bandwidth for change, what effective strategies require and how to inspire and shape action</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="gs-wrapper">
    <div class="gs-wrapper__inner">
      <h2>We work with organisations <img class="about-image" src="assets/pyramid.png"> from global tech giants to one woman NGOs, from international brands to social enterprises.</h2>
      <ul class="gs-client-list">
        <li>
          <img src="assets/instagram.png">
        </li>
        <li>
          <img src="assets/pepsico.png">
        </li>
        <li>
          <img src="assets/starbucks.png">
        </li>
        <li>
          <img src="assets/booking.png">
        </li>
        <li>
          <img src="assets/apple.png">
        </li>
        <li>
          <img src="assets/instagram.png">
        </li>
        <li>
          <img src="assets/pepsico.png">
        </li>
        <li>
          <img src="assets/starbucks.png">
        </li>
        <li>
          <img src="assets/booking.png">
        </li>
        <li>
          <img src="assets/apple.png">
        </li>
        <li>
          <img src="assets/booking.png">
        </li>
        <li>
          <img src="assets/apple.png">
        </li>
      </ul>
    </div>
  </div>
  <div class="gs-wrapper">
    <div class="gs-wrapper__inner flexible">
      <h2>WE OUR A SMALL AND POWERFUL TEAM. <img class="about-image" src="assets/rain.png"> MEET THE GOOD SIDE.</h2>
      <ul>
        <li>
          <div class="cirlce"></div>
          <h2>James Lewis</h2>
          <h2>Head of Production</h2>
        </li>
        <li>
          <div class="cirlce"></div>
          <h2>James Lewis</h2>
          <h2>Head of Production</h2>
        </li>
        <li>
          <div class="cirlce"></div>
          <h2>James Lewis</h2>
          <h2>Head of Production</h2>
        </li>
        <li>
          <div class="cirlce"></div>
          <h2>James Lewis</h2>
          <h2>Head of Production</h2>
        </li>
        <li>
          <div class="cirlce"></div>
          <h2>James Lewis</h2>
          <h2>Head of Production</h2>
        </li>
      </ul>
    </div>
  </div>
</div>
