<div class="gs-wrapper">
  <div class="gs-splash">
    <h1>Ask us anything</h1>
  </div>
  <div class="gs-questions">
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
    <div class="circle">
      <div class="circle-inner">
        <h2></h2>
        <p></p>
      </div>
    </div>
  </div>
</div>
