{% assign carousel = site.home-carousel %}
{{carousel}}
<div class="gs-carousel">
  <div uk-slider="center: true">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul class="uk-slider-items uk-child-width-1-2 uk-grid">
          {% for item in carousel %}
          <li>
              <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                    {{item.['Video Link']]}}
                  </div>
                  <div class="gs-carousel-video-caption"><p>{{item.title}}</p></div>
              </div>
          </li>
          {% endfor %}
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
<div class="gs-section-footer">
  <p><a target="_blank" href="https://vimeo.com/thegoodside">See more of our films</a></p>
</div>
