<div class="gs-wrapper nopadd">
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="centered width-eighty hover-case">
    <h1 class="mega gs-case-header yellow">MOVEMBER</h1>
  </div>
  <div class="gs-case-image-floating">
    <img src="/assets/mov_men.jpeg">
  </div>
  <div class="gs-case-image opacity-six">
    <img src="/assets/mov_men.jpeg">
  </div>

  <div class="case-study-footer width-eighty">
    <div class="flex">
      <div class="col">
        <h3>Changing young men's mental health with Movember</h3>
        <div class="gs-button case-read-more" data-selector="movember">Read More</div>
      </div>
    </div>
  </div>
  <div class="case-study-info-wrapper movember">
    <span class="close-window">Close X</span>
    <h6>The Question</h6>
    <h2>How are masculinity and mental health affecting lower-income and ethnically diverse young men in the UK, Canada and Australia, and can we shift these social norms through an integrated change strategy?</h2>
    <h6>The Work</h6>
    <p>We created a six-month digital research community to capture young men's personal lives and intimate thoughts. Mining a rich seam of user generated content and survey data, we delved deeply into their behaviours and attitudes, surfacing a wealth of insight. From this deep understanding we crafted a behaviour and social change strategy, centred on harnessing the power of social media to effect change.</p>
    <h6>The Impact</h6>
    <p>Our insight and strategy drove media interventions in UK, Canada and Australia. In the UK, our briefing film mobilised top YouTube influencers to create 16 films that attracted over 10 million views and delivered proven positive behaviour change outcomes, an in award winning campaign. In Canada, almost 2.5 million men engaged with The Mental Game, a new multimedia format linking sports to mental resilience, with proven impact on self care habits. Australia campaign coming soon…</p>
  </div>
</div>
