<div class="gs-wrapper nopadd">
  <div class="centered width-eighty hover-case">
    <h1 class="mega gs-case-header red-text">Unilever <span class="aside">x FDCO</span></h1>
  </div>
  <div class="gs-case-image-floating zoom">
    <img src="/The-Good-Side-Stage/uploads/transform%20web.jpg">
  </div>
  <div class="gs-case-image opacity-three">
    <img src="/The-Good-Side-Stage/uploads/transform%20web.jpg">
  </div>

  <div class="case-study-footer width-eighty">
    <div class="flex">
      <div class="col">
        <h3>Celebrating the impact of market-based solutions with Unilever & FDCO</h3>
        <div class="gs-button case-read-more" data-selector="unilever">Read More</div>
      </div>
    </div>
  </div>
  <div class="case-study-info-wrapper unilever">
    <span class="close-window">Close</span>
    <h6>The Question</h6>
    <h2>How can we demonstrate the impact of applying market-based solutions to some of the world’s biggest development challenges? What impact has the unique TRANSFORM partnership between Unilever and the UK Government had on the social enterprises it supports?</h2>
    <h6>The Work</h6>
    <p>We partnered with MLS to fuel a multi-channel communications strategy aimed at inspiring engagement with Unilever and UK FCDO’s TRANSFORM programme. Through place-based ethnographic research and systems mapping, we uncovered the human stories and social impact that TRANSFORM social enterprises were making across East Africa and Bangladesh, and the benefit those organisations gained from working with Unilever teams on sales and marketing strategy.</p>
    <h6>The Impact</h6>
    <p>Our storytelling, photography and evaluation content served to position TRANSFORM as a leading example of a public private partnership, encouraging and equipping other partners to replicate and invest in the model. Since the engagement strategy, many more partners have joined TRANSFORM, including Microsoft, Acumen, LinkedIn and GSMA.</p>
  </div>
</div>
