<div class="gs-wrapper nopadd">
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="centered width-eighty hover-case">
    <h1 class="mega gs-case-header">BOOKING.COM</h1>
  </div>
  <div class="gs-case-image-floating">
    <img src="/uploads/booking.jpg">
  </div>
  <div class="gs-case-image">
    <img src="/uploads/booking.jpg">
  </div>

  <div class="case-study-footer width-eighty">
    <div class="flex">
      <div class="col">
        <h3>Improving travel experience for LGBTQI+ people with Booking.Com</h3>
        <div class="gs-button case-read-more" data-selector="booking">Read More</div>
      </div>
    </div>
  </div>
  <div class="case-study-info-wrapper booking">
    <span class="close-window">Close X</span>
    <h6>The Question</h6>
    <h2>What is the LGBTQI+ travel experience like, and how might we help LGBTQI+ travelers make travel plans in a safe and welcoming way?</h2>
    <h6>The Work</h6>
    <p>Through traveler diaries and discussion groups in UK, Germany, and Netherlands, we built a deep understanding of LGBTQI+ traveler journeys, which we then validated in a robust quant survey. We identified barriers and drivers throughout the customer journey, and workshopped a range of initiatives to help evolve booking.com’s offer for LGBTQI+ customers.</p>
    <h6>The Impact</h6>
    <p>xxx</p>
  </div>
</div>
