<div class="gs-wrapper nopadd">
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="centered width-eighty hover-case">
    <h1 class="mega gs-case-header blue-text">WaterAid</h1>
  </div>
  <div class="gs-case-image-floating">
    <img src="/The-Good-Side-Stage/uploads/wateraid.jpg">
  </div>
  <div class="gs-case-image opacity-three">
    <img src="/The-Good-Side-Stage/uploads/wateraid.jpg">
  </div>

  <div class="case-study-footer width-eighty">
    <div class="flex">
      <div class="col">
        <h3>Understanding how to influence the government with WaterAid</h3>
        <div class="gs-button case-read-more" data-selector="wateraid">Read More</div>
      </div>
    </div>
  </div>
  <div class="case-study-info-wrapper wateraid">
    <span class="close-window">Close X</span>
    <h6>The Question</h6>
    <h2>How can we encourage the UK Government to invest in Water, Sanitation and Hygiene (WASH) projects in the face of significant aid budget cuts?</h2>
    <h6>The Work</h6>
    <p>WaterAid asked us to explore ways to influence the Johnson administration in order to achieve maximum impact. We designed a systems mapping approach to understand contemporary political influence and workshop strategic solutions. Through interviews with high level decision makers, political strategists, media linchpins and opinion leaders, an analysis of successful influencing campaigns and a network mapping process we were able to identify key opportunities and relationships for WaterAid, and propose narrative and strategic approaches to reach the heart of government.</p>
    <h6>The Impact</h6>
    <p>Our network mapping and communications strategy has kick-started a new organisational approach to building influencing strategies within WaterAid.</p>
  </div>
</div>
