<div class="gs-wrapper nopadd">
  <div class="centered width-eighty hover-case">
    <h1 class="mega gs-case-header blue-text">Kays Foundation</h1>
  </div>
  <div class="gs-case-image-floating">
    <img src="/uploads/kays_normal.jpg">
  </div>
  <div class="gs-case-image opacity-three">
    <img src="/uploads/kays_normal.jpg">
  </div>

  <div class="case-study-footer width-eighty">
    <div class="flex">
      <div class="col">
        <h3>Making the caregiver as important as the child for Early Childhood Development donors, with Kays Foundation</h3>
        <div class="gs-button case-read-more" data-selector="kays">Read More</div>
      </div>
    </div>
  </div>
  <div class="case-study-info-wrapper kays">
    <span class="close-window">Close</span>
    <h6>The Question</h6>
    <h2>How can we encourage the Early Child Education and Development community to think about the caregiver as much as the child in investment and programme strategies?</h2>
    <h6>The Work</h6>
    <p>A month-long ethnographic immersion and documentary film production, guided by a literature review and expert interviews and backed up with a quantitative survey. We workshopped insights and conclusions with The Kays Foundation, the Keynan government and NGO stakeholders to ensure outputs were owned and co-created with people who could act on them. An interactive report to accompany the documentary film helped bring all of the thinking together, and live on beyond the project.</p>
    <h6>The Impact</h6>
    <p>Through a series of stakeholder sessions and workshops we secured commitments from key ECD donors to revise their funding strategies to focus on designing for caregiver’s needs - representing over $10m in investment, mainly for mothers. Our film has become a key training tool for ECD programme design workshops, and is used as a case study for the Dignified Storytelling Alliance.</p>
  </div>
</div>
