<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Good Side | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Insight and creative ideas studio with social change at the heart</title>
  <meta name="description" content="Insight and creative ideas studio with social change at the heart.">
  <link rel="stylesheet" href="/The-Good-Side-Stage/assets/uikit.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="/The-Good-Side-Stage/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/The-Good-Side-Stage/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/The-Good-Side-Stage/assets/favicon-16x16.png">
  <link rel="manifest" href="/The-Good-Side-Stage/assets/site.webmanifest">
  <link rel="mask-icon" href="/The-Good-Side-Stage/assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#2c449c">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:title" content="The Good Side | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:image" content="" />
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ET3LMRJ0CJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ET3LMRJ0CJ');
</script>
