{% assign caseStudies = site.case-studies %}
<div class="gs-wrapper">
  <div class="gs-splash">
    <h1 class="init">{{page.['Home Splash']}}</h1>
    <h1 class="reveal">Explore the margins</h1>
  </div>
  <div class="gs-splash__images">
    <div class="gs-splash__image medium">
      <div class="js-hover-faux"><a class="article-selector" data-link="{{caseStudies[2].permalink}}" href="{{caseStudies[2].permalink}}"></a>
        <div class="gs-plus plus">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg>
        </div>
        <div class="gs-plus go">
          <svg width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M91 45.5C91 70.629 70.629 91 45.5 91S0 70.629 0 45.5 20.371 0 45.5 0 91 20.371 91 45.5z" fill="#EEA4AF"/><path d="M44.2495 53.005l1.4167 2.5217 12.9766-10.54-12.9766-10.5684-1.4167 2.5217 8.2167 6.545H33.6528v2.975h18.8134l-8.2167 6.545z" fill="#28275C"/></svg>
        </div>
        <img src="{{caseStudies[2].['Case study main image']}}"></div>
    </div>
    <div class="gs-splash__image big">
      <div class="js-hover-faux"><a class="article-selector" data-link="{{caseStudies[0].permalink}}" href="{{caseStudies[0].permalink}}"></a>
        <div class="gs-plus plus">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg>
      </div>
      <div class="gs-plus go">
        <svg width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M91 45.5C91 70.629 70.629 91 45.5 91S0 70.629 0 45.5 20.371 0 45.5 0 91 20.371 91 45.5z" fill="#EEA4AF"/><path d="M44.2495 53.005l1.4167 2.5217 12.9766-10.54-12.9766-10.5684-1.4167 2.5217 8.2167 6.545H33.6528v2.975h18.8134l-8.2167 6.545z" fill="#28275C"/></svg>
      </div>
        <img src="{{caseStudies[0].['Case study main image']}}">
      </div>
    </div>
    <div class="gs-splash__image small">
      <div class="js-hover-faux"><a class="article-selector" data-link="{{caseStudies[1].permalink}}" href="{{caseStudies[1].permalink}}"></a>
        <div class="gs-plus plus">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg>
        </div>
        <div class="gs-plus go">
          <svg width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M91 45.5C91 70.629 70.629 91 45.5 91S0 70.629 0 45.5 20.371 0 45.5 0 91 20.371 91 45.5z" fill="#EEA4AF"/><path d="M44.2495 53.005l1.4167 2.5217 12.9766-10.54-12.9766-10.5684-1.4167 2.5217 8.2167 6.545H33.6528v2.975h18.8134l-8.2167 6.545z" fill="#28275C"/></svg>
        </div>
        <img src="{{caseStudies[1].['Case study main image']}}"></div>
    </div>
  </div>
  <div class="gs-section-footer">
    <p>We’re an insight and creative strategy studio with social change at the heart</p>
  </div>
</div>
