{% assign caseStudies = site.case-studies %}
<div class="gs-wrapper">
  <div class="gs-splash">
    <h1>{{page.['Home Splash']}}</h1>
  </div>
  <div class="gs-splash__images">
    <div data-tilt class="gs-splash__image medium">
      <div data-tilt data-tilt-glare="true" ><a href="{{caseStudies[2].permalink}}"></a><div class="gs-plus"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg></div><img src="{{caseStudies[2].['Case study main image']}}"></div>

    </div>
    <div data-tilt class="gs-splash__image big">
      <div data-tilt data-tilt-glare="true"><a href="{{caseStudies[0].permalink}}"></a><div class="gs-plus"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg></div><img src="{{caseStudies[0].['Case study main image']}}"></div>

    </div>
    <div data-tilt class="gs-splash__image small">
      <div data-tilt data-tilt-glare="true"><a href="{{caseStudies[1].permalink}}"></a><div class="gs-plus"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.89065 5.80833V0h-2.805v5.80833H.333984V8.5H6.08565v5.8083h2.805V8.5h5.78005V5.80833H8.89065z" fill="#28275C"/></svg></div><img src="{{caseStudies[1].['Case study main image']}}"></div>

    </div>
  </div>
</div>
