<div class="gs-wrapper nopadd">
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="first mani-slide">
    <div class="flex">
      <div class="left relative">
        <div class="centered width-eighty">
        <h5 class="start textblack">Change is complicated. Culture moves in mysterious ways.</h5>
        <h5 class="start textblack">The biggest problems of our time are deep rooted, and hard to grasp.</h5>
        <h5 class="start textblack">And there’s never a single solution to a wicked problem.</h5>
        </div>
      </div>
      <div class="right">
        <img src="/assets/may.jpg">
      </div>
    </div>
  </div>
  <div class="second mani-slide">
    <div class="flex">
      <div class="right">
        <img src="/assets/tgs.png">
      </div>
      <div class="left relative">
        <div class="centered width-eighty">
        <h5 class="start textblack">Understanding cultural complexity means looking broadly and deeply, and drawing on all kinds of data to surface insight. </h5>
        <h5 class="start textblack">Real and lasting change comes from integrated strategies, influencing across the system, and lighting many fires.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="third mani-slide">
    <div class="flex">
      <div class="left relative">
        <div class="centered width-eighty">
        <h5 class="start textblack">Through a decade of global social and cultural change work, we have honed our toolkits for insight, strategy and storytelling, built a network of change-makers around the world, and helped all sorts of organisations effect transformations in culture.</h5>
      </div>
      </div>
      <div class="right">
        <img src="/assets/cam.jpeg">
      </div>
    </div>
  </div>

  <div class="mani-timer">
    <div class="main-progress"></div>
  </div>
</div>
