<ul class="socials">
  <li><a target="_blank" href="https://www.youtube.com/channel/UCk7jAEw2aTsM-NQefm6eF3g"><span uk-icon="youtube"></span></a></li>
  <li><a target="_blank" href="https://www.instagram.com/thisisthegoodside/"><span uk-icon="instagram"></span></a></li>
  <li><a target="_blank" href="https://www.facebook.com/thisisthegoodside"><span uk-icon="facebook"></span></a></li>
  <li><a target="_blank" href="https://vimeo.com/thegoodside"><span uk-icon="vimeo"></span></a></li>
  <li><a target="_blank" href="https://www.linkedin.com/company/thisisthegoodside"><span uk-icon="linkedin"></span></a></li>
</ul>
