<div class="gs-wrapper nopadd">
  <div class="first">
    <div class="centered">
      <div class="gs-wrapper__inner flex">
        <div class="col hover-enlarge" data-selector="insight">
          <h3 class="underline">Insight</h3>
        </div>
        <div class="col hover-enlarge" data-selector="strategy">
          <h3 class="underline">Strategy</h3>
        </div>
        <div class="col hover-enlarge" data-selector="studio">
          <h3 class="underline">Studio</h3>
        </div>
        <div class="col hover-enlarge" data-selector="learn">
          <h3 class="underline">Learn</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="studio-info-wrapper insight">
    <span class="close-window">Close</span>
    <h2>Unpacking cultural complexity</h2>
    <p>Powerful insight sits at the heart of our craft.
    We invent bespoke approaches and use a suite of methods to get to the heart of the matter.
    We centre the richness of human experience to tell stories that can travel.
    We listen to voices and data throughout the system to understand issues in the round.
    We go where the action is, from the kitchen to the protest to the board room.
    </p>
    <h6>Ethnographic audience immersion
      <br>New markets and emergent spaces
      <br>Cultural trends and social norms
      <br>Behavioural design
      <br>Niche and hard to reach audiences
      </h6>
  </div>
  <div class="studio-info-wrapper strategy">
    <span class="close-window">Close</span>
    <h2>Setting fresh directions</h2>
    <p>Strategic rigour is what elevates our insight towards impact.
        We show organisations how to respond to and influence culture.
        We nurture ideas with new viewpoints and emergent theory.
        We understand business challenges and help our clients make smart decisions.
        We offer accessible thinking that sparks creativity and real change.
    </p>
    <h6>Brand strategy
        <br>Purpose and mission definition
        <br>Behaviour change strategy
        <br>Campaign planning
        <br>Creative development
      </h6>
  </div>
  <div class="studio-info-wrapper studio">
    <span class="close-window">Close</span>
    <h2>Crafting powerful stories</h2>
    <p>Creative outputs are what bring our thinking to life.
        We connect organisations to audiences by telling their stories.
        We inspire change by building emotional connections.
        We design exciting and useful content that takes stakeholders on our journey.
        We use narrative and creativity to build shared understanding and light the way forward.
    </p>
    <h6>Impact documentaries
        <br>  Interactive reports
        <br>  Insight films
        <br>  Campaign management
        <br>  Visual identity
      </h6>
  </div>
  <div class="studio-info-wrapper learn">
    <span class="close-window">Close</span>
    <h2>Capturing change + impact</h2>
    <p>Our learning processes track change in real time and keep us at the forefront of culture.
        We collaborate with experts and change makers across geographies and subjects.
        We synthesise diverse data sets to stay on top of social change.
        We track impact and influence through inventive data solutions.
        It is through understanding change and impact that our practice moves forwards.
    </p>
    <h6>Network of change experts
        <br>  Social change tracker
        <br>  Innovative MEL
        <br>  Societal trends
        <br>  Impact measurement

  </div>
</div>
