<div class="tg-footer">
  <div class="tg-header__wrapper">
    <div class="flex">
      <div class="left">
        <h2>Ask us anything and join our mailing list</h2>
      </div>
      <div class="right">
        <form>
          <input name="email" placeholder="What's your email address"></input>
          <!-- <select>
            <option>How can we...</option>
          </select> -->
          <textarea name="email" rows="8" cols="80" placeholder="Type your question here"></textarea>
          <button>Ask us</button>
        </form>
      </div>
    </div>
  </div>
</div>
