<div class="tg-footer">
  <div class="tg-header__wrapper">
    <div class="flex">
      <div class="left">
        <h2>Got a question for us?</h2>
        <p>We believe that change isn’t black and white; it’s complex, nuanced and full of colour. And, to thrive, knowledge needs action.</p>
      </div>
      <div class="right">
        <form>
          <input name="email" placeholder="What's your email address"></input>
          <!-- <select>
            <option>How can we...</option>
          </select> -->
          <textarea name="email" rows="8" cols="80" placeholder="Type your question here"></textarea>
          <button>Ask us</button>
        </form>
      </div>
    </div>
  </div>
</div>
