<div class="tg-footer">
  <div class="tg-header__wrapper">
    <div class="flex">
      <div class="left">
        <h2>Ask us anything and join our mailing list</h2>
      </div>
      <div class="right">
        <form action="https://getform.io/f/e89ebb9b-fe19-4dbe-9eed-86398819c442" method="POST">
          <input type="email" name="email" placeholder="What's your email address"></input>
          <!-- <select>
            <option>How can we...</option>
          </select> -->
          <textarea type="text" name="message" rows="8" cols="80" placeholder="Type your question here"></textarea>
          <button type="submit">Ask us</button>
        </form>
        <input type="checkbox" id="marketing" name="marketing" value="marketing">
        <small>I would like to receive marketing emails</small>
      </div>
    </div>
  </div>
</div>
