<div class="gs-wrapper">
  <div class="gs-splash update-on-click">
    <h1>OUR WORK</h1>
  </div>
  <div class="gs-questions">
    <div class="gs-organiser">
      <div data-theme="all" class="circle theme theme-selector">All</div>
      {% assign themes = site.themes %}
      {% for theme in themes %}
        <div data-theme="{{theme.title | downcase | slugify }}" class="circle theme theme-selector">
          {{theme.title}}
        </div>
      {% endfor %}

    </div>
  </div>
</div>
<div id="case-studies" class="page-content pink">
  <div class="gs-case-study__wrapper">
    <ul>
      {%assign caseStudyOrder = site.case-studies | sort:"position" %}
      {% for case in caseStudyOrder %}
      {% assign meta = case.['Meta'] %}

        <li class="case-study-theme {% for items in meta %}{% assign tags = items.Tags | split: ',' %}{% for tag in tags %} {{tag | downcase | slugify }} {% endfor %}{% endfor %}">
          <a class="article-selector" href="{{case.permalink}}" data-link="{{case.permalink}}"></a>
          <div class="flex">
            <div class="left">
              <img src="{{case.['Case study main image']}}">
            </div>
            <div class="right">
              <h2>{{case.title}}</h2>
              <p>{{case.Question}}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
