<div class="gs-wrapper">
  <div class="gs-splash">
    <h1>Case studies</h1>
  </div>
  <div class="gs-questions">
    <div class="circle theme">SUSTAINABILITY</div>
    <div class="circle theme">GENDER</div>
    <div class="circle theme">LGBTQIA+</div>
    <div class="circle theme">MENTAL HEALTH</div>
    <div class="circle theme">YOUNG PEOPLE</div>
    <div class="circle theme">FILM</div>
    <div class="circle theme">STRATEGY</div>
    <div class="circle theme">INTERNATIONAL DEVELOPMENT</div>
    <div class="circle theme">QUANTATIVE</div>
    <div class="circle theme">ETHNOGRAPHY</div>
    <div class="circle theme">ONLINE</div>
    <div class="circle theme">QUALITATIVE</div>
  </div>
</div>
<div class="page-content pink">
  <div class="gs-case-study__wrapper">
    <ul>
      {% for case in site.case-studies %}
        <li>
          <div class="flex">
            <div class="left">
              <img src="{{case.['Case study main image']}}">
            </div>
            <div class="right">
              <h1>{{case.title}}</h1>
              <p>{{case.question}}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
