.case-wrapper-fixed {
  position: fixed;
  height: auto;
  width: 100%;

  .gs-slide {
    height: 100vh;
  }
}

.case-study-iframe {
  .tg-header {
    display: none;
  }
}

.gs-case-study_top {
  width: 100%;
  height: 90vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gs-container {
    @include mq($until: tablet) {
      padding-left: 4%;
    }
  }
}

.gs-floating__headline {
  position: absolute;
  bottom: 0;
  width: 100%;

  h2 {
    color: #fff;
  }
}

.article-wrapper {
  position: relative;

  .gs-container {
    padding-left: 0;
  }
  .uk-slider {
    background-color: #f6f6f6;
    position: relative;
    z-index: 100000;
  }

  .uk-slider-items {
    li {
      padding: 0;
      padding-right: 1px;

      .uk-card-media-top {
        height: 500px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }

      }
    }
  }
}

.article__innner_wrapper {
  max-width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 4%;
  padding-right: 10px;

  @include mq($from: desktop) {
    max-width: 50vw;
    padding-left: 10%;
    padding-right: 0;
  }

  iframe {
    width: 95%;
    height: 51vw;

    @include mq($from: desktop) {
      width: 100%;
      height: 27vw;
    }
  }
}

.article__testimonial_wrapper {
  blockquote {
    padding-left: 4%;

    @include mq($from: desktop) {
      padding-left: 10%;
    }
  }
}

.gs__right-col {

  @include mq($from: desktop) {
    position: absolute;
    width: 20%;
    top: -40px;
    right: 0;
    border-left: #121212 1px solid;
    padding-top: 40px;
    padding-right: 20px;
  }

  .gs__meta-tags {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      margin-left: 10px;

      li {
        a {
          border-bottom: 1px solid rgba(0,0,0,0.3);

          &:hover {
            border-bottom: 1px solid rgba(0,0,0,1);
          }
        }
      }

      &.gs-tags, &.gs-methods {
        li {
          border: 1px solid #121212;
          width: max-content;
          padding: 6px;
          margin-bottom: 10px;
        }
      }

      &.gs-data {
        li {
          font-family: 'Bureau Grot Extra Compressed';
          font-weight: 400;
          font-size: 60px;
          color: #121212;
          margin-top: 10px;

          @include mq($from: desktop) {
            font-size: 6vw;
            line-height: 0.8;
          }

          cite {
            font-family: 'bill corp nar';
            line-height: 1.6;
            font-size: 18px;
            color: #121212;
            font-style: normal;
            display: block;
          }
        }
      }
    }
  }
}
