@font-face {
    font-family: 'Bureau Grot Extra Compressed';
    src: url('../assets/BureauGrotExtraCompressed-Book.woff2') format('woff2'),
        url('../assets/BureauGrotExtraCompressed-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bill corp nar';
    src: url('../assets/billcorpnar-bold.woff2') format('woff2'),
        url('../assets/billcorpnar-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bill corp nar';
    src: url('../assets/billcorpnar-medium.woff2') format('woff2'),
        url('../assets/billcorpnar-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bill corp nar';
    src: url('../assets/billcorpnar-extralight.woff2') format('woff2'),
        url('../assets/billcorpnar-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bill corp nar';
    src: url('../assets/billcorpnar-extrabold.woff2') format('woff2'),
        url('../assets/billcorpnar-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body, html {
  color: #121212;
  scroll-behavior: smooth;
}

.gs-wrapper {
  padding: 2%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  &.flexible {
    min-height: 100vh;
    height: auto;
  }

  &.half-height {
    height: 40vh;
  }
}

.gs-container {
  padding-left: 10%;
  box-sizing: border-box;
  width: 100%;
}

.gs-wrapper__inner {
  width: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      width: 33%;
      padding-right: 20px;
      box-sizing: border-box;
      list-style: none;
      position: relative;

      img {
        width: 110px;
        height: 110px;
        margin-bottom: -30px;
        margin-left: -10px;
        display: block;
      }

      h3 {
        font-family: 'Bureau Grot Extra Compressed';
        text-transform: uppercase;
        letter-spacing: 0.5px;
        background-color: $blue;
        padding: 10px 10px;
        font-size: 80px;
        display: inline-block;
        line-height: 0.9;
        color: $teal;
      }

      &:nth-child(2n+2) {
        .circle-question {
          background-color: $yellow;
        }
      }
      &:nth-child(3n+3) {
        .circle-question {
          background-color: $blue;
        }
      }

      .circle-question {
        width: 8vw;
        height: 8vw;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transition: all ease-in-out 0.2s;

        &.clicked {
          width: 18vw;
          height: 18vw;
          top: 0;
          left: 48%;
          transform: translate(-50%, 0px);

          p {
            opacity: 1;
          }
        }

        p {
          position: absolute;
          top: 50%;
          width: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          line-height: 1.2;
          color: #fff;
          opacity: 0;
        }
      }

      .cirlce {
        width: 17vw;
        height: 17vw;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin-left: 0;
          margin-bottom: 0;

          &.gif-hover {
            position: absolute;
            top: 0;
            opacity: 0;
          }
        }

        &:hover {
          img.gif-hover {
            opacity: 1;
          }
        }
      }

      h2 {
        line-height: 1;
        margin: 0;
      }
    }
  }

  &.flexible {
    position: relative;
    transform: none;
    top: unset;
    left: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-bottom: 100px;

    ul {
      margin-top: 100px;
    }

    li {
      margin-bottom: 20px;

      h2 {
        text-align: center;
        color: $blue;

        &:nth-child(even) {
          color: #fff;
        }
      }
    }
  }
}

.gs-plus {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 8px;
    bottom: unset !important;
    right: unset !important;
    position: relative !important;
  }
}

h1 {
  font-family: 'Bureau Grot Extra Compressed';
  font-weight: 400;
  font-size: 26vw;
  line-height: 1.1;
  color: #121212;

  @include mq($from: desktop) {
    font-size: 20vw;
    line-height: 0;
  }
}

h2 {
  font-family: 'Bureau Grot Extra Compressed';
  font-weight: 400;
  font-size: 46px;
  line-height: 1.1;
  color: #121212;
  text-transform: uppercase;

  @include mq($from: desktop) {
    font-size: 5.5vw;
    line-height: 1.1;
  }

  &.blue {
    color: $blue;
    background-color: transparent !important;
  }

  &.padd {
    margin-bottom: 100px;
  }
}

h3 {
  color: #121212;
  @include mq($from: desktop) {
    font-size: 2.5vw;
    font-family: 'bill corp nar';
    line-height: 1.1;
  }

  .circle-inner & {
    @include mq($from: desktop) {
      font-size: 2vw;
    }
  }
}

h4 {
  color: #fff;
  @include mq($from: desktop) {
    font-size: 10vw;
    font-family: 'Bureau Grot Extra Compressed';
    line-height: 1.1;
    text-transform: uppercase;
  }

  &.padd {
    margin-bottom: 100px;
  }
}

blockquote {
  font-style: normal;
  max-width: 665px;
  margin-bottom: 40px;
  color: #121212;

  @include mq($from: desktop) {
    font-size: 2vw;
    font-family: 'bill corp nar';
    line-height: 1.1;
  }
}

p, ul, li {
  font-family: 'bill corp nar';
  line-height: 1.6;
  font-size: 18px;
  color: #121212;
}

p {
  &.blue {
    color: $blue !important;
    background-color: transparent !important;
  }
}

a {
  color: inherit !important;

  &:hover {
    text-decoration: none;
    border: none;
    color: $blue;

    & > * {
      color: $blue !important;
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
  }
}

.tg-footer {
  .tg-header__wrapper {
    & > * {
      width: 100%;
    }

    h2, p {
      color: #fff;
    }

    p {
      width: 80%;
    }
  }

  form {
    input {
      width: 90%;
      display: block;
    }
    textarea {
      width: 90%;
      display: block;
    }

    select, button {
      padding: 10px;
      margin-bottom: 10px;
      font-family: 'bill corp nar';
      font-size: 18px;
      border: none;
      border-radius: 0;
    }

    button {
      margin-top: 10px;
      &:hover {
        background-color: $yellow;
      }
    }

    input, textarea {
      border: none;
      font-family: 'bill corp nar';
      font-size: 18px;
      padding: 10px;
    }

    input {
      margin-bottom: 10px;
      height: 30px;
    }
  }
}

.tg-footer-base {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
}

.tg-footer-base-wrapper {
  display: flex;

  ul {
    margin-right: 10px;
    color: $blue;

    li {
      margin-right: 10px;
      color: $blue;
    }
  }
}

.left.padd {
  padding-top: 18%;
  padding-left: 8%;
  box-sizing: border-box;

  h1 {
    color: $blue;
  }
}

.right {
  .tg-footer {
    height: 76vh;
    padding-left: 5%;
    padding-top: 15vh;
  }
  .tg-header__wrapper {
    & > * {
      width: 100%;
    }
  }
}
