@font-face {
    font-family: 'Bureau Grot Extra Compressed';
    src: url('../assets/BureauGrotExtraCompressed-Book.woff2') format('woff2'),
        url('../assets/BureauGrotExtraCompressed-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gs-wrapper {
  padding: 2%;
  height: 100vh;
  box-sizing: border-box;
}

.gs-wrapper__inner {
  width: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Bureau Grot Extra Compressed';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.1;

  @include mq($from: desktop) {
    font-size: 20vw;
    line-height: 0;
  }
}

h2 {
  font-family: 'Bureau Grot Extra Compressed';
  font-weight: 400;
  font-size: 60px;

  @include mq($from: desktop) {
    font-size: 6vw;
    line-height: 1.1;
  }
}
