.tg-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100002;
  pointer-events: all;
}

@keyframes openBurger {
  0% {
    transform: translateY(0);
  }

  20%{
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }

  100%{
    transform: translateY(0px);
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.tg-header__wrapper {
  display: flex;
  padding: 3%;

  @include mq($from: desktop) {
    padding: 1%;
  }

  & > * {
    width: 50%;
  }

  .tg-header__right {
    display: flex;
    justify-content: flex-end;

    .tg-menu__hamburger {
      width: 60px;
      pointer-events: all;
      cursor: pointer;
      animation-name: throb;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      img {
        width: 100%;
        height: auto;
      }

      .whenClosed {
        display: block;
      }

      .onOpen {
        display: none;
      }

      &.clicked {
        animation-name: openBurger;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-delay: 0;

        .whenClosed {
          display: none;
        }

        .onOpen {
          display: block;
        }
      }
    }
  }
}

.gs-hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $yellow;
  z-index: 100000;
  border-radius: 50% 0 50% 50%;
  padding: 100px;
  width: 100%;
  height: 80vh;
  margin-top: -70px;
  margin-right: -110px;
  transition: all ease-in-out 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;

  @include mq($from: desktop) {
    height: 70vh;
    width: 60vh;
  }

  &.hidden {
    height: 0;
    width: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    margin-top: 80px;

    li {
      list-style: none;
      font-family: 'Bureau Grot Extra Compressed';
      font-weight: 400;
      font-size: 140px;
      line-height: 0.8;
      color: #000;
    }
  }
}

.tg-header__logo {
  width: 68px;
  height: auto;
  transition: all ease-in-out 0.5s;

  @include mq($from: desktop) {
    width: 90px;
  }

  &.black {
    path {
      fill: #121212;
    }
  }
}

.tg-footer {
  background-color: $blue;
  min-height: 300px;

  .left {
    h2 {
      line-height: 0.9;
    }
  }
}
