.gs-home-page-slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  svg {
    &.close-section {
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 1000000;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes longfloat {
  0% {
    transform: translate(0,0);
  }
  25% {
    transform: translate(50vh,30vh);
  }
  50% {
    transform: translate(0,0);
  }
  75% {
    transform: translate(-50vh,-3vh);
  }
  100% {
    transform: translate(0,0);
  }
}

.gs-slide {
  height: 100vh;
  width: 100%;
  background-color: #e6e6e6;
  flex-basis: 1;
  flex:none;
  position: relative;
  transform: all ease-in-out 0.5s;
  overflow: hidden;

  @include mq($from: desktop) {
    height: 100vh;
  }

  .page-selector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
  }

  .gs-wrapper, .gs-carousel {
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }

  &.inview {
    .gs-wrapper, .gs-carousel {
      opacity: 1;
    }
  }

  &.arrow-down {
    .arrow-container:before {
      content: 'Read more';
    }
    .arrow-container {
      &:hover {
        &:before {
          width: 78px;
        }
      }
    }
  }

  &#contact {
    @include mq($until: tablet) {
      height: auto;

      .tg-footer {
        padding-top: 0;
        height: auto;
      }
    }
  }

  &.open {

    .page-selector {
      pointer-events: none;
    }

    .read-more-container {
      display: none;
    }
    .arrow-container {
      display: none;
    }
    .open & {
      pointer-events: none;
    }
  }

  .read-more-container {
    position: absolute;
    left: 20px;
    bottom: 110px;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'bill corp nar';
    border: 1px solid $blue;
    color: $blue;
    display: none;
    transform: translateX(-50%);
    left: 50%;

    @include mq($from: desktop) {
      display: block;
    }
  }

  .arrow-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100000;
    display: none;

    @include mq($from: desktop) {
      display: flex;
    }

    &:before {
      content: 'Next';
      display: inline-block;
      color: #fff;
      font-family: 'bill corp nar';
      background-color: $pink;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      transform: translateX(50px);
      border-radius: 30px;
      overflow: hidden;
      width: 0;
      transition: all ease-in-out 0.2s;
      transform: translateX(50px);
    }

    &:hover {
      &:before {
        width: 40px;
        padding-top: 15px;
        padding-bottom: 13px;
        padding-right: 56px;
        padding-left: 20px;
      }
    }

    svg {
      position: relative;
      z-index: 10000;
    }
  }

  &.arrow-right {
    svg.arrow {
      transform: rotate(-90deg);
      cursor: pointer;
    }
  }

  &.close{
    display: none;
  }

  &.open {
    overflow: visible;
    overflow-x: hidden;
    height: auto;

    .page-content {
      overflow: visible;
      height: auto;
      background-color: $pink;
    }

    .gs-organiser {
      position: absolute;
      top: unset;
      bottom: 0;
      width: 100%;
      height: auto;
      z-index: 100000;

      .circle {
        position: relative;
        display: inline-block;
        top: unset !important;
        left: unset !important;
        margin-bottom: 4px;
      }
    }
  }

  .gs-splash.update-on-click {
    top: 40%;
    text-align: left;
    padding-left: 8%;

    @include mq($from: desktop) {
      padding-left: 2%;
    }
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    &.about-image {
      width: 120px;
      height: auto;
      object-fit: contain;
    }
  }
  .gs-organiser {
    transition: all ease-in-out 1s;
    position: absolute;
    top: unset;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100000;

    @include mq($until: tablet) {
      position: absolute;
      top: unset;
      bottom: 0;
      width: 100%;
      height: auto;
      z-index: 100000;
    }

    .circle {
      @include mq($until: tablet) {
        position: relative;
        display: inline-block;
        top: unset !important;
        left: unset !important;
        margin-bottom: 4px;
      }
    }
  }

  &.themes {
    .circle {
      position: relative;
      display: inline-block;
      top: unset !important;
      left: unset !important;
      margin-bottom: 4px;
    }
  }
}

.close-circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;

  &.active {
    pointer-events: all;
  }
}

.blue {
  background-color: $blue !important;
}

.pink {
  background-color: $pink !important;
}

.green {
  background-color: $teal !important;
}

.page-content {
  position: relative;
  height: 0;
  overflow: hidden;
}

.page-selector {
  cursor: pointer;
}

.article {
  position: absolute;
  top: 0;
  width: 0;
  min-height: 100vh;
  background-color: white;
  z-index: 10000;
  transition: all ease-in-out 0.5s;
  background-color: $pink;

  .close-article {
    position: absolute;
    bottom: 20px;
    right: 6px;
    cursor: pointer;

    @include mq($from: desktop) {
      right: 10px;
      bottom: 20px;
    }
  }

  iframe {
    height: 100vh;
    width: 92%;

    @include mq($from: desktop) {
      width: 95%;
    }
  }

  &.open {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gs-home-page-slider {
  &.fix {
    position: fixed;
  }
}

.gs-splash {
  text-align: center;
  width: 100%;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
  transition: 0.5s ease-in-out all;

  &.update-on-click {
    @include mq($until: tablet) {
      top: 40%;
      text-align: center;
      padding-left: 2%;
    }
  }

  @include mq($from: desktop) {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
  }

  &.hide {
    opacity: 0;
  }

  &.hover {
    .init {
      opacity: 0;
    }
    .reveal {
      opacity: 1;
      transform: translateY(-40px);
    }
  }

  .init {
    opacity: 1;
    transition: all ease-in-out 0.2s;
  }

  .reveal {
    opacity: 0;
    transition: all ease-in-out 0.2s;
  }
}

.gs-splash__images {
  position: absolute;
  display: flex;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  justify-content: space-between;

  @include mq($from: desktop) {
    width: 90%;
  }

  & > .gs-splash__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 34%;
    padding: 4%;
    cursor: pointer;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }

    &.small {
      width: 20%;
      margin-top: -9.3%;
      display: none;

      @include mq($from: desktop) {
        display: flex;
      }

      div:not(.gs-plus) {
        background-color: $pink;
        width: 100%;
        height: 300px;
        position: relative;
      }
      .js-tilt-glare {
        background-color: transparent !important;
      }
    }

    &.big {
      width: 100%;
      @include mq($from: desktop) {
        width: 40%;
      }
      div:not(.gs-plus) {
        background-color: $pink;
        width: 100%;
        height: 450px;
        position: relative;
        margin-top: -5%;

        @include mq($from: desktop) {
          height: 600px;
          margin-top: -10%;
        }
      }
      .js-tilt-glare {
        background-color: transparent !important;
      }
    }

    &.medium {
      width: 25%;
      margin-top: -2.3%;
      display: none;

      @include mq($from: desktop) {
        display: flex;
      }

      div:not(.gs-plus) {
        background-color: $pink;
        width: 100%;
        height: 400px;
        position: relative;
      }
      .js-tilt-glare {
        background-color: transparent !important;
      }
    }
  }
}

.js-hover-faux {
  transition: all ease-in-out 0.2s;

  &.fade {
    opacity: 0.5;
  }

  &.hovered {
    opacity: 1 !important;
    transform: scale(1.1);

    .gs-plus.go {
      opacity: 1;
      transform: scale(2) translateX(10px);
    }
    .gs-plus.plus {
      opacity: 0;
    }
  }

  .gs-plus.plus {
    opacity: 1;
  }

  .gs-plus.go {
    opacity: 0;
    background-color: transparent;
    transform-origin: center;
    transition: all ease-in-out 0.2s;
  }
}

.gs-questions {
  position: relative;
  z-index: 10000;
  height: 90vh;
  pointer-events: none;

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear 0.5s;
    width: max-content;
    background-color: blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    animation-name: longfloat;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    pointer-events: all;

    &.clicked {
      width: 90vw !important;
      height: 90vw !important;
      top: 50% !important;
      left: 50% !important;
      transition: all ease-in-out .5s;
      transform: translate(-50%, -50%) !important;
      z-index: 100000;
      animation: none;

      @include mq($from: desktop) {
        width: 80vh !important;
        height: 80vh !important;
      }

      &:hover {
        @include mq($from: desktop) {
          width: 80vh !important;
          height: 80vh !important;
        }
      }

      h2 {
        opacity: 1;
        color: #fff;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.5s;
        @include mq($from: desktop) {
          margin-bottom: -60px;
        }
      }

      h3 {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.5s;
        color: #fff;
        margin-top: 3vh;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        position: relative;
        z-index: 10000;
        margin-bottom: 0;

        @include mq($from: desktop) {
          margin-top:0vh;
          font-size: 2vw;
        }
      }

      .circle-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    h3 {
      opacity: 0;
    }

    h2 {
      font-size: 30px;
      text-transform: uppercase;
      opacity: 0;
      margin-top: 10px;

      @include mq($from: desktop) {
        font-size: 80px;
      }
    }

    &:hover {
      transform: scale(1.2);
      @include mq($from: desktop) {
        height: 120px !important;
        width: 120px !important;
      }
    }

    &:nth-child(even) {
      background-color: $blue;
      height: 70px;
      width: 70px;
    }
    &:nth-child(odd) {
      background-color: $red;
    }
    &:nth-child(3n+3) {
      background-color: $yellow;
      height: 70px;
      width: 70px;
    }

    &.theme {
      border-radius: 0;
      width: auto;
      height: auto;
      background-color: $blue;
      font-family: 'Bureau Grot Extra Compressed';
      font-size: 40px;
      line-height: 0.6;
      padding: 10px 6px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      cursor: pointer;
      animation-name: float;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @include mq($from: desktop) {
        font-size: 70px;
        line-height: 0.6;
        padding: 20px 10px;
      }

      &:hover {
        width: auto !important;
        height: auto !important;
      }

      &:nth-child(1n+1) {
        color: $pink;
      }
      &:nth-child(2n+2) {
        color: $teal;
      }
      &:nth-child(3n+3) {
        color: $red;
      }
      &:nth-child(4n+4) {
        color: $yellow;
      }
      &:nth-child(5n+5) {
        color: $green;
      }
    }
  }
}

.gs-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;

  .inview & {
    pointer-events: all;
  }

  .uk-slider-items {
    li {
      padding-left: 0;

      iframe {
        width: 107%;
        height: 57vw;

        @include mq($from: desktop) {
          width: 100%;
          height: 29vw;
        }
      }

      .uk-card-default {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
  .gs-carousel-video-caption {
    text-align: center;

    p {
      color: #fff;
      margin-top: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .uk-dotnav > .uk-active > * {
    background-color: #fff;
  }

  .uk-dotnav > * > * {
    border-color: #fff;
  }
}

ul.gs-client-list {
  margin-top: 0;
  flex-direction: row !important;

  li {
    width: 50%;
    margin-bottom: 20px;

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      img {
        margin-left: auto;
      }
    }

    @include mq($from: desktop) {
      width: 13%;
    }

    img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.gs-case-study__wrapper {
  ul {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
      }

      &:nth-child(1n+1) {
        background-color: $blue;
      }
      &:nth-child(2n+2) {
        background-color: $yellow;
      }
      &:nth-child(3n+3) {
        background-color: $teal;
      }

      h2, p {
        color: #fff;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .left {
        height: 400px;
      }

      .right {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.gs-section-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;

  a {
    border-bottom: 1px solid #fff;
  }

  .blue {
    a {
      border-bottom: 1px solid $blue;
    }
  }

  .open & {
    display: none;
  }

  @include mq($from: desktop) {
    width: 100%;
    padding: 0;
  }

  p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    line-height: 1.2;

    @include mq($from: desktop) {
      max-width: 420px;
      font-size: 20px;
    }
  }
}

.case-study-theme {
  &.hide {
    display: none;
  }
}

.uk-child-width-1-2 > * {
  width: 100%;

  @include mq($from: desktop) {
    width: 50%;
  }
}

.home-socials {
  position: absolute;
  left: 10px;
  bottom: 0;
  display: none;

  @include mq($from: desktop) {
    display: block;
  }

  ul {
    margin-right: 10px;
    color: #fff;
    display: flex;
    list-style: none;
    padding-left: 0;

    &.socials {
      flex-direction: row !important;
    }

    li {
      margin-right: 10px;
      color: #ffff;
      list-style: none;
    }
  }
}
